$bgcolor: #252320;
$textcolor: #FFFFFF;
$goldcolor: linear-gradient(to left, #C5900A,#181715 );
$goldtextcolor: radial-gradient(96.58% 729.03% at 84.05% 15.75%, rgba(158, 95, 21, 0.9) 0%, rgba(255, 196, 43, 0.816328) 33.62%, rgba(244, 175, 94, 0.747) 100%);